/*----------FONT----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');

/*----------KESELURUHAN HALAMAN----------*/

* {
  box-sizing: border-box;
  font-family: poppins;
  margin: 0px;
  padding: 0px;
}

body{
    background-color: rgb(229, 229, 229);
    height: 100vh;
}

/*----------NAVBAR----------*/

.navbar{
    background-color: white;
    width: 100vw;
    height: 70px;
    top: 0;
    box-shadow: 0px 5px 10px #0000005c;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    z-index: 7;
}
.nav-area{
    height: 100%;
    align-items: center;
}
.nav-logo{
    height: 100%;
}
.nav-menu{
    height: 100%;
    float: right;
    font-weight: 500;
    margin-left: 20px;
    align-content: center;
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 480px) {
    .navbar{
        height: 50px;
    }
}

/*----------FOOTER----------*/

.footer{
    background-color: white;
    height: 250px;
    padding-left: 10vw;
    padding-top: 5vw;
    box-shadow: 0px 5px 10px #0000005c;
    z-index: 1;
}
.footer-content{
    font-size: 10px;
}

/*----------MAINAREA----------*/

.main-area{
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 80px;
    margin-bottom: 25px;
    z-index: 5;
}
@media only screen and (max-width: 480px) {
    .main-area{
        margin-top: 70px;
    }
}

.title-area{
    font-size: 5vw;
    font-weight: bolder;
}

.area-hitung{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.area-input{
    width: calc(50% - 10px);
    margin-right: 10px;
}
.area-hasil{
    width: calc(50% - 10px);
    margin-left: 10px;
}
@media only screen and (max-width: 480px) {
    .area-hitung{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .area-input{
        width: 100%;
        margin-right: 0;
    }
    .area-hasil{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

.area-input-field{
    background-color: white;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-color: rgb(104, 234, 123);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 5px 10px #0000005c;

}
.input{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: xx-large;
    border-style: none;
}
.area-input-corner{
    background-color: rgb(104, 234, 123);
    height: 75%;
    width: auto;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%) rotate(45deg);
}
.area-input-field-satuan{
    top: 5px;
    left: 5px;
    color: white;
    font-size: larger;
    font-weight: 600;
    position: absolute;
}
.area-hasil-field{
    background-color: white;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-color: rgb(148, 148, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 5px 10px #0000005c;

}
.hasil{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: xx-large;
    align-content: center;
}
.area-hasil-corner{
    background-color: rgb(148, 148, 255);
    height: 75%;
    width: auto;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%) rotate(45deg);
}
.area-hasil-field-satuan{
    top: 5px;
    left: 5px;
    color: white;
    font-size: larger;
    font-weight: 600;
    position: absolute;
}

.area-button{
    margin-bottom: 20px;
    font-size: large;
}
.desktop{
    display: flex;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: larger;
    }
}

.button{
    width: calc((100% / 3) - 10px);
    background-color: white;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #0000005c;
    border-style: none;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 4px 5px #0000005c;
}

.area-cara-field{
    width: 100%;
    height: 20px;
    position: relative;
}
.cara{
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 5px 10px #0000005c;
    text-align: center;
    align-content: center;
    z-index: 5;
}

/*----------DROPDOWN----------*/

.dropbtn {
    width: 100%;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #0000005c;
    font-size: medium;
    font-weight: 600;

}
.area-input .dropdown .dropbtn{
    background-color: rgb(104, 234, 123);
}
.area-hasil .dropdown .dropbtn{
    background-color: rgb(148, 148, 255);
}
  
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
  
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.area-input .dropdown:hover .dropbtn {
    background-color: rgb(81, 185, 97);
}
.area-hasil .dropdown:hover .dropbtn {
    background-color: rgb(112, 112, 193);
}